<!doctype html>
<head><title>formADD</title> 
<meta charset=utf-8> 

<form action="" method="post">
	<label for="User" class="form-label">Username:</label>
	<input name="User" type="text"/>
	<br>
	<label for="Pass" class="form-label">Password:</label>
	<input name="custFN" type="text"/>
	<br>
	<label for="Database" class="form-label">Database Name:</label>
	<input name="Database" type="text"/>
	<br>
	<label for="Host" class="form-label">Host</label>
	<input name="Host" type="text"/>
	<br>
	<label for="Port" class="form-label">Port</label>
	<input name="Port" type="text"/>
	<br>
	 <button type="submit">Login</button>
</form>